<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件查看</title>
    <script type="text/javascript" src="../public/jquery-3.3.1.min.js"></script>
</head>
<body>
{% extends 'checkAll.html' %}

{% block main %}

<table id="heckAll-table">
    <thead>
    <tr>
        <th>system</th>
        <th>type</th>
        <th>date</th>
        <th>id</th>
    </tr>
    </thead>
    <tbody>
    {% for dict in data %}
    <tr class="child_row_01">
        <th>{{dict.system}}</th>
        <th>{{dict.type}}</th>
        <th>{{dict.date}}</th>
        <th>{{dict._id.toString()}}</th>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'page.html' %}

{% endblock %}

</body>
</html>