<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导入日志</title>
    <script type="text/javascript" src="../public/jquery-3.3.1.min.js"></script>

</head>
<body>
{% extends 'layout.html' %}

{% block main %}

<!--<form method="post" action="/edit">-->
    <!--<span>添加数据测试</span><br/>-->
    <!--<textarea type="text" value="" name="posd"></textarea>-->
    <!--<button type="submit">提交</button>-->
<!--</form>-->
<button id="ddd">测试添加数据</button>

<script type="text/javascript">

    var data = {
        posd : [{
            system : "testsy4",
            type : "测试4-0",
            date : "3",
            other : ""

        },{
            system : "testsy0",
            type : "err",
            date : "2",
            other : "哈哈哈0000"
        }]
    };

    $("#ddd").click(function () {
        // alert("add-data");
        $.post("http://localhost:8008/save",data,function (data) {

        })
    });



</script>

{% endblock %}

</body>
</html>